<html>

<head>
    <title>Angular JS Modules</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <h2>AngularJS Sample Application</h2>
    <div ng-app="mainApp" ng-controller="studentController">
        <table border="0">
            <tr>
                <td>Enter first name:</td>
                <td><input type="text" ng- model="student.firstName"></td>
            </tr>
            <tr>
                <td>Enter last name: </td>
                <td><input type="text" ng- model="student.lastName"></td>
            </tr>
            <tr>
                <td>Name: </td>
                <td>{{student.fullName()}}</td>
            </tr>
            <tr>
                <td>Subject:</td>
                <td>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Marks</th>
                        </tr>
                        <tr ng-repeat="subject in student.subjects">
                            <td>{{ subject.name }}</td>
                            <td>{{ subject.marks }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"> </script>
    <script src="mainApp.js"></script>
    <script src="studentController.js"></script>
</body>

</html>