<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="" ng-init="person={firstname: 'faisal', lastname:'firaz'}">
  <p>Name : <input type="text" ng-model="name"></p>
  <h1>Hello {{name}}</h1>
  <p>Name : <input type="text" ng-model="nama"></p>
  <p ng-bind="nama"></p> <!-- Untuk menapilkan -->
<br>
<p>name:  <span ng-bind="person.firstname"></span> <span ng-bind="person.lastname"></span></p>

<!-- <p>Expression {{ 5 + 10 }}</p> -->
<br>


</div>

</body>
</html>