<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=b, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div ng-app="myApp" ng-controller="namesCtrl">

        <p>Looping with objects:</p>
        <ul>
            <li ng-repeat="x in names | orderBy:'country'">
                {{ x.name + ', ' + x.country }}
            </li>
        </ul>

    </div>

    <script>
        angular.module('myApp', []).controller('namesCtrl', function ($scope) {
            $scope.names = [{
                    name: 'Jani',
                    country: 'Norway'
                },
                {
                    name: 'Carl',
                    country: 'Sweden'
                },
                {
                    name: 'Margareth',
                    country: 'England'
                },
                {
                    name: 'Hege',
                    country: 'Norway'
                },
                {
                    name: 'Joe',
                    country: 'Australia'
                },
                {
                    name: 'Gustav',
                    country: 'Sweden'
                },
                {
                    name: 'Birgit',
                    country: 'Denmark'
                },
                {
                    name: 'Mary',
                    country: 'England'
                },
                {
                    name: 'Kai',
                    country: 'Norway'
                }
            ];
        });
    </script>
</body>

</html>