<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=b, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div ng-app="myApp" ng-controller="myCtrl">

        <ul>
            <li ng-repeat="x in names">{{x}}</li>
        </ul>

    </div>

    <script>
        var app = angular.module('myApp', []);

        app.controller('myCtrl', function ($scope) {
            $scope.names = ["Emil", "Tobias", "Linus"];
        });
    </script>
</body>

</html>