<html>

<head>
    <title>Angular JS Includes</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h2>AngularJS Sample Application</h2>
    <div ng-app="" ng-controller="studentController">
        <table>
            <tr>
                <th>Name</th>
                <th>Roll No</th>
                <th>Percentage</th>
            </tr>
            <tr ng-repeat="student in students">
                <td>{{ student.Name }}</td>
                <td>{{ student.RollNo }}</td>
                <td>{{ student.Percentage }}</td>
            </tr>
        </table>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"> </script>
    <script src="main.js"></script>
</body>

</html>