html>

<head>
    <title>Angular JS Forms</title>
</head>

<body>
    <h2>AngularJS Sample Application</h2>
    <div ng-app="mainApp" ng-controller="CalcController">
        <p>Enter a number: <input type="number" ng-model="number" /> <button ng-click="square()">X<sup>2</sup></button>
            <p>Result: {{result}}</p>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js">
    </script>
    <script>
        var mainApp = angular.module("mainApp", []);
        mainApp.factory('MathService', function () {
            var factory = {};
            factory.multiply = function (a, b) {
                return a * b
            }
            console.log('factory', factory);
            return factory;
        });
        mainApp.service('CalcService', function (MathService) {
            console.log('2',MathService)
            this.square = function (a) {
                return MathService.multiply(a, a);
            }
        });
        mainApp.controller('CalcController', function ($scope, CalcService) {
            $scope.square = function () {
                $scope.result = CalcService.square($scope.number);
            }
            console.log('calService', CalcService);
        });
    </script>
</body>

</html>