<html>

<head>
    <title>Angular JS Forms</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h2>AngularJS Sample Application</h2>
    <div ng-app="" ng-controller="studentController">
        <form name="studentForm" novalidate>
            <table border="0">
                <tr>
                    <td>Enter first name:</td>
                    <td><input name="firstname" type="text" ng-model="firstName" required>
                        <span style="color:red"
                            ng-show="studentForm.firstname.$dirty && studentForm.firstname.$invalid">
                            <span ng-show="studentForm.firstname.$error.required">First Name is required.</span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Enter first name:</td>
                    <td><input name="lastName" type="text" ng-model="lastName" required>
                        <span style="color:red"
                            ng-show="studentForm.lastName.$dirty && studentForm.lastName.$invalid">
                            <span ng-show="studentForm.lastName.$error.required">First Name is required.</span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Email: </td>
                    <td><input name="email" type="email" ng-model="email" length="100" required>
                        <span style="color:red" ng-show="studentForm.email.$dirty && studentForm.email.$invalid">
                            <span ng-show="studentForm.email.$error.required">Email is required.</span>
                            <span ng-show="studentForm.email.$error.email">Invalid email address.</span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><button ng-click="reset()">Reset</button></td>
                    <td><button
                            ng-disabled="studentForm.firstname.$dirty && studentForm.firstname.$invalid || studentForm.lastName.$dirty && studentForm.lastName.$invalid|| studentForm.email.$dirty && studentForm.email.$invalid"
                            ng-click="submit()">Submit</button></td>
                </tr>
            </table>
        </form>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"> </script>
    <script src="form.js"></script>
</body>

</html>